[submodule "assets/lib"]
	path = assets/lib
	url = https://github.com/cotes2020/chirpy-static-assets.git

[submodule "assets/lectures"]
	path = assets/lectures
	url = git@github.com:SoumyaK4/weiqi-lectures.git
